<!--
<div id="fb-root"></div><script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1638811949706838',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));


</script>-->

<section style="background: none;" ng-controller="HomeController" ng-init="findItineraries()">
  <div class="row">
    <h4> {{authentication.user.displayName}}! Your itinerary Is Here!</h4>
    </div>
<br/>
    <br/>
    <div class="page-header">
      <a class="btn btn-link" ng-click="sendMail()" > Share <img width="20" height="20" src="/modules/core/client/img/email.jpg"></a>

 <a class="btn btn-link" ng-click="share()">Facebook</a>
      <!--<a facebook-feed-share class="facebookShare" data-url="{{url}}" data-name="Travel With Me" data-description="Find my Itinerary here and Travel With Me">{{share}}</a>
      <a facebook-feed-share class="facebookShare" data-url='http://localhost:3000/' data-shares='shares', data-description="Find my Itinerary here and Travel With Me">{{ shares }}</a>
      --><div class="pull-right" >
         <button class="btn btn-success " ng-if="authentication.user && itineraries.length>0">Book this Itinerary</button>
      <button class="btn btn-info"  ng-if="authentication.user" ng-click="openItinerary(null,null)">Create Itinerary</button>
    </div>
    </div>
 <!-- <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>--><div class="col-md-12">


     <!-- <div class="row" ng-click="expand" ng-repeat="i in itinerary">

        <div  ng-if="i.type=='hotel'" class="col-md-10 gridbox" >

          <div class="gridtop emerald full-width">

            <h4>{{i.day_number}} {{i.day| date:'mediumDate'}} {{i.title}} {{i.data.city}}

            </h4>
          </div>
          </div>
        </div>-->
      <!--<button class="btn btn-success " ui-sref="itinerary.view({itineraryId: itineraryUId})" >View</button>
      <button class="btn btn-success " ng-click="findItineraries(itineraryUId)" >Show</button>
-->
       <div class="row"  ng-repeat="i in itineraries| orderBy:'-created.at'">

          <div  ng-if="i.type=='hotel'" class="col-md-10 gridbox" >

             <div class="gridtop emerald full-width">

              <h4>{{i.day_number}} {{i.day| date:'mediumDate'}} {{i.title}} {{i.data.city}}
                <button ng-if="authentication.user" style="margin-top: -10px;" class="pull-right btn btn-success wisteria " >Book</button>
              </h4>


            </div>
            <div class="content">
              <a style="cursor: pointer;" class="cursor-pointer" ng-click="getHotelDetails(i.data.id,$index)">
                <img src="{{i.data.img}}" class="center" height="100" width="100">
              <h4 ng-bind="i.data.name"></h4></a>
              <p ng-bind="i.data.location"></p>
              <p ng-bind="i.data.city"></p>
              <p ng-bind="i.data.state"></p>
              <span ng-bind="i.notes"><label>Notes:</label></span>

             <div ng-if="authentication.user" class="pull-right" >

               <button class=" btn btn-warning" ng-click="getHotelDetails(i.data.id,$index)">Explore NearBy Places</button>
               <button class="btn btn-success asbestos" ng-click="editItinerary(i,$index)">Edit</button>

               <button class="btn-sm btn-danger" >Remove</button>
             </div>
            </div>

            <div class="block-border col-md-10"  ng-if="i.hotelInfo">
              <div ng-if="i.desc">

                  {{i.desc}}

              </div>
              <div class="col-md-12" ng-if="i.attractions">
               <label>Places of Attractions </label>
                <div class="numberCircle col-md-3" ng-repeat="att in i.attractions">
                 <a style="cursor: pointer;" ng-mouseover="" tooltip="click to save" ng-click="openAttraction(i,att)">{{att.Description}}</a>
               </div>
             </div>
              <div class="col-md-12">

              <!-- <map center="centerAt" zoom="8"></map>
-->
                <!--<map id="map" style="height:450px" zoom="8" zoom-to-include-="" markers="auto" center="centerAt" center-changed="centerChanged()">
                 &lt;!&ndash; <marker id="{[{$index}]}" animation="DROP" ng-repeat="location in locations" position="{[{location.latitude}]},{[{location.longitude}]}" on-click="click()" title="Click to zoom"></marker>
&ndash;&gt;
                </map>-->
                <map center="{{i.mapcenter.lat}}, {{i.mapcenter.lng}}" zoom="12" style="height: 400px;">
                  <!--<info-window id="marker-info">
                    <div ng-non-bindable="">
                      <strong class="markerTitle">{{ infoWindow.title }}</strong>
                      <div class="markerContent">
                        <p>{{ infoWindow.content }}</p>
                      </div>
                    </div>
                  </info-window>-->
                  <marker  icon="modules/core/client/img/40.png" title="{{i.mapcenter.title}}"style="color: #009900;" position="{{i.mapcenter.lat}}, {{i.mapcenter.lng}}"></marker>
                  <marker ng-repeat="(id, pos)  in i.markers" id="{{id}}" title="{{pos.title}}" on-click="showInfoWindow(event, pos)" position="{{pos.lat}}, {{pos.lng}}"></marker>
                </map>
              </div>

            </div>
          </div>
            <div  ng-if="i.type=='user'" class="col-md-10 gridbox">
              <div class="gridtop midnight full-width">

                <h4>{{i.day_number}} {{i.day| date:'mediumDate'}} {{i.title}} {{i.data.city}}

                </h4>
              </div>

              <div class="content">

            <h4 ng-bind="i.place"></h4>
              <label>Notes:</label><p ng-bind="i.notes"></p>
              <div ng-if="authentication.user" class="pull-right" >
                <button class=" btn btn-warning" ng-click="getHotelDetails(i.data.id,$index)">Explore NearBy Places</button>
                <button class="btn btn-success asbestos" ng-click="editItinerary(i,$index)">Edit</button>

                <button class="btn-sm btn-danger" >Remove</button> </div>
                </div>
            </div>

        <div  ng-if="i.type=='flight'" class="col-md-10 gridbox">
          <div class="gridtop sunflower full-width">

            <h4>{{i.day_number}} {{i.day| date:'mediumDate'}} {{i.title}} {{i.data.city}}
              <button ng-if="authentication.user" style="margin-top: -10px;" class="pull-right btn btn-success " >Book</button>
            </h4>
          </div>

          <div class="content">

            <h4 ng-bind="i.place"></h4>
            <label>Notes:</label>{{i.notes}}
            <div class="pull-right" >
              <button ng-if="authentication.user"class="btn-sm btn-danger" >Remove</button>
            </div>
          </div>
        </div>


        </div>
        <!--<div class="col-md-4" ng-if="hotelInfo">
          &lt;!&ndash;<div id="map"></div>
          <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
            <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
          </div>&ndash;&gt;

        </div>-->
    </div>


</section>

